body {
    background-image: url("assets/images/zombiegrass.png");
    height: 100vh;
    width: 100vw;
    margin: 0;
}

header {
    height: 15%;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 85%;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: 150%;
}

.boardContainer {
    height: 50%;
    width: 50%;
    display: inline-block;
    top: 50px;
    left: 3%;
    position: absolute;
}

.store1 {
    height: 20%;
    width: 15%;
    bottom: 48%;
    right: 91%;
    position: absolute;
}
.store2 {
    height: 20%;
    width: 15%;
    bottom: 43%;
    right: -94%;
    top: 32%;
    position: absolute;
}

.store3 {
    height: 20%;
    width: 15%;
    bottom: 81%;
    right: -94%;
    top: 156%;
    position: absolute;
}

.store4 {
    height: 20%;
    width: 15%;
    bottom: -76%;
    left: -6%;
    position: absolute;
}

.shack {
    height: 25%;
    width: 20%;
    position: absolute;
    left: 85%;
    bottom: -10%;
}

.dice {
    padding: 3px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8%;
    width: 3%;
    display: inline-block;
    position: relative;
    left: 45%;
    margin-top: 12%;
}
#player-die {
    background-image: url("assets/dice-images/dice1.png");

}
#zombie-die {
    background-image: url("assets/dice-images/zdice1.png");
}
#roll-dice-button {
    height: 3%;
    width: 6%;
    position: relative;
    left: 38%;
    z-index: 2;
    margin-top: -1%;
}

.player-zombie {
    height: 7%;
    width: 6%;
    bottom: 40%;
    left: 10%;
    position: absolute;
    z-index: 1;
    transition-duration: 1s;
}

.player-human {
    height: 7%;
    width: 6%;
    bottom: 40%;
    left: 10%;
    position: absolute;
    z-index: 1;
    transition-duration: 1s;
}

.space1 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 9%;
    position: absolute;
}

.space2 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 19%;
    position: absolute;
}
.space3 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 29%;
    position: absolute;
}
.space4 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 39%;
    position: absolute;
}
.space5 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 49%;
    position: absolute;
}
.space6 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 59%;
    position: absolute;
}
.space7 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 69%;
    position: absolute;
}
.space8 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 79%;
    position: absolute;
}
.space9 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 89%;
    position: absolute;
}
.space10 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 99%;
    position: absolute;
}
.space11 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 109%;
    position: absolute;
}
.space12 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 119%;
    position: absolute;
}
.space13 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 129%;
    position: absolute;
}
.space14 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 139%;
    position: absolute;
}
.space15 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 149%;
    position: absolute;
}

.space16 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 159%;
    position: absolute;
}

.space17 {
    height: 6%;
    width: 9%;
    bottom: 40%;
    left: 169%;
    position: absolute;
}

.space18 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 9%;
    position: absolute;
}

.space19 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 19%;
    position: absolute;
}
.space20 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 29%;
    position: absolute;
}
.space21 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 39%;
    position: absolute;
}
.space22 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 49%;
    position: absolute;
}
.space23 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 59%;
    position: absolute;
}
.space24 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 69%;
    position: absolute;
}
.space25 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 79%;
    position: absolute;
}
.space26 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 89%;
    position: absolute;
}
.space27 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 99%;
    position: absolute;
}
.space28 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 109%;
    position: absolute;
}
.space29 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 119%;
    position: absolute;
}
.space30 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 129%;
    position: absolute;
}
.space31 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 139%;
    position: absolute;
}
.space32 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 149%;
    position: absolute;
}

.space33 {
    height: 6%;
    width: 9%;
    bottom: -62%;
    left: 159%;
    position: absolute;
}

.space34 {
     height: 6%;
     width: 9%;
     bottom: -62%;
     left: 169%;
     position: absolute;
 }

.space35 {
    height: 6%;
    width: 9%;
    bottom: -50%;
    left: 177%;
    position: absolute;
    transform: rotate(90deg);
}

.space36 {
     height: 6%;
     width: 9%;
     bottom: -31%;
     left: 177%;
     position: absolute;
     transform: rotate(90deg);
 }

.space37 {
    height: 6%;
    width: 9%;
    bottom: -12%;
    left: 177%;
    position: absolute;
    transform: rotate(90deg);
}

.space38 {
    height: 6%;
    width: 9%;
    bottom: 7%;
    left: 177%;
    position: absolute;
    transform: rotate(90deg);
}

.space39 {
    height: 6%;
    width: 9%;
    bottom: 26%;
    left: 177%;
    position: absolute;
    transform: rotate(90deg);
}

.space40 {
    height: 6%;
    width: 9%;
    bottom: -50%;
    left: 3%;
    position: absolute;
    transform: rotate(90deg);
}

.space41 {
    height: 6%;
    width: 9%;
    bottom: -31%;
    left: 3%;
    position: absolute;
    transform: rotate(90deg);
}

.space42 {
    height: 6%;
    width: 9%;
    bottom: -12%;
    left: 3%;
    position: absolute;
    transform: rotate(90deg);
}

.space43 {
    height: 6%;
    width: 9%;
    bottom: 7%;
    left: 3%;
    position: absolute;
    transform: rotate(90deg);
}

.space44 {
    height: 6%;
    width: 9%;
    bottom: 26%;
    left: 3%;
    position: absolute;
    transform: rotate(90deg);
}